In [55]:
import os
import pandas as pd
from pathlib import Path

In [ ]:
pd.read_csv("notebooks/data","Gemstone.csv")

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.52,Premium,F,VS2,62.2,58.0,7.27,7.33,4.55,13619
1,1,2.03,Very Good,J,SI2,62.0,58.0,8.06,8.12,5.05,13387
2,2,0.70,Ideal,G,VS1,61.2,57.0,5.69,5.73,3.50,2772
3,3,0.32,Ideal,G,VS1,61.6,56.0,4.38,4.41,2.71,666
4,4,1.70,Premium,G,VS2,62.6,59.0,7.65,7.61,4.77,14453
...,...,...,...,...,...,...,...,...,...,...,...
193568,193568,0.31,Ideal,D,VVS2,61.1,56.0,4.35,4.39,2.67,1130
193569,193569,0.70,Premium,G,VVS2,60.3,58.0,5.75,5.77,3.47,2874
193570,193570,0.73,Very Good,F,SI1,63.1,57.0,5.72,5.75,3.62,3036
193571,193571,0.34,Very Good,D,SI1,62.9,55.0,4.45,4.49,2.81,681
193572,193572,0.71,Good,E,SI2,60.8,64.0,5.73,5.71,3.48,2258

In [58]:
from pathlib import Path
pd.read_csv(Path(os.path.join("notebooks/data","Gemstone.csv")))

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.52,Premium,F,VS2,62.2,58.0,7.27,7.33,4.55,13619
1,1,2.03,Very Good,J,SI2,62.0,58.0,8.06,8.12,5.05,13387
2,2,0.70,Ideal,G,VS1,61.2,57.0,5.69,5.73,3.50,2772
3,3,0.32,Ideal,G,VS1,61.6,56.0,4.38,4.41,2.71,666
4,4,1.70,Premium,G,VS2,62.6,59.0,7.65,7.61,4.77,14453
...,...,...,...,...,...,...,...,...,...,...,...
193568,193568,0.31,Ideal,D,VVS2,61.1,56.0,4.35,4.39,2.67,1130
193569,193569,0.70,Premium,G,VVS2,60.3,58.0,5.75,5.77,3.47,2874
193570,193570,0.73,Very Good,F,SI1,63.1,57.0,5.72,5.75,3.62,3036
193571,193571,0.34,Very Good,D,SI1,62.9,55.0,4.45,4.49,2.81,681
193572,193572,0.71,Good,E,SI2,60.8,64.0,5.73,5.71,3.48,2258

In [61]:
from pathlib import Path
import pandas as pd

# Create the path using Path
file_path = Path("notebooks/data") / "Gemstone.csv"

# Read the CSV file using pandas
data = pd.read_csv(file_path)

fir_dir,file_name = os.path.split(file_path)

In [62]:
fir_dir

'notebooks\\data'

In [64]:
file_name

'Gemstone.csv'

In [65]:
filepath = Path("notebooks/data") / "Gemstone.csv"

In [67]:
pd.read_csv(filepath)

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.52,Premium,F,VS2,62.2,58.0,7.27,7.33,4.55,13619
1,1,2.03,Very Good,J,SI2,62.0,58.0,8.06,8.12,5.05,13387
2,2,0.70,Ideal,G,VS1,61.2,57.0,5.69,5.73,3.50,2772
3,3,0.32,Ideal,G,VS1,61.6,56.0,4.38,4.41,2.71,666
4,4,1.70,Premium,G,VS2,62.6,59.0,7.65,7.61,4.77,14453
...,...,...,...,...,...,...,...,...,...,...,...
193568,193568,0.31,Ideal,D,VVS2,61.1,56.0,4.35,4.39,2.67,1130
193569,193569,0.70,Premium,G,VVS2,60.3,58.0,5.75,5.77,3.47,2874
193570,193570,0.73,Very Good,F,SI1,63.1,57.0,5.72,5.75,3.62,3036
193571,193571,0.34,Very Good,D,SI1,62.9,55.0,4.45,4.49,2.81,681
193572,193572,0.71,Good,E,SI2,60.8,64.0,5.73,5.71,3.48,2258

In [75]:
import os
class DataConfig:
    raw_data_path:str = os.path.join("artifacts","raw.csv")
    print(raw_data_path)
    os.makedirs(os.path.dirname(raw_data_path),exist_ok=True)
    data.to_csv(raw_data_path,index=False)

artifacts\raw.csv

In [ ]:
os.makedirs(os.path.dirname(os.path.join(self.ingestion_config.raw_data_path)),exist_ok=True)
data.to_csv(self.ingestion_config.raw_data_path,index=False)

NameError: name 'self' is not defined

In [77]:
import sys
print(sys.path)

['d:\\Lang\\Projects\\Diamond_price_prediction\\env\\python38.zip', 'd:\\Lang\\Projects\\Diamond_price_prediction\\env\\DLLs', 'd:\\Lang\\Projects\\Diamond_price_prediction\\env\\lib', 'd:\\Lang\\Projects\\Diamond_price_prediction\\env', '', 'd:\\Lang\\Projects\\Diamond_price_prediction\\env\\lib\\site-packages', 'd:\\Lang\\Projects\\Diamond_price_prediction\\env\\lib\\site-packages\\dimondpriceprediction-0.0.1-py3.8.egg', 'd:\\Lang\\Projects\\Diamond_price_prediction\\env\\lib\\site-packages\\win32', 'd:\\Lang\\Projects\\Diamond_price_prediction\\env\\lib\\site-packages\\win32\\lib', 'd:\\Lang\\Projects\\Diamond_price_prediction\\env\\lib\\site-packages\\Pythonwin', 'd:\\Lang\\Projects\\Diamond_price_prediction\\env\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\harsh\\.ipython', 'd:\\Lang\\Projects\\Diamond_price_prediction\\env\\lib\\site-packages\\setuptools\\_vendor', 'D:\\Lang\\Projects\\Diamond_price_prediction\\src', 'D:\\Lang\\Projects\\Diamond_price_prediction\\src']

In [78]:
src_path = os.path.abspath(os.path.join(os.path.dirname(__file__), 'src'))
sys.path.append(src_path)

NameError: name '__file__' is not defined